*{
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: normal;
  }

.flex{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_flex{
  display: flex;
  gap: 62px;
}

.footer_flex{
  display: flex;
  gap: 74px;
}

  li{
  list-style-type: none;
}

section{
  background-color: #F6BED9;
}

footer{
  background-color: #20003C;
  margin: 13px auto 15px;
}
.container{
  max-width: 1250px;
  margin: 0 auto;
}

.container_section{
  margin: 0 auto;
}

.main{
padding: 58px 0 59px;
}

.main_title{
  font-weight: 700;
  font-size: 54px;
  line-height: 61px;
  max-width: 470px;
}

.main_title_violet{
  color: #6F2DFF;
}

.main_text{
  font-size: 18px;
  line-height: 30px;
  max-width: 438px;
  margin: 18px;
}

.main_text_bold{
font-weight: bold;
}

.main_input{
  height: 45px;
  background: #FFFFFF;
  border: 1px solid #6F2CFF;
  border-radius: 28px 28px 28px 27.5px;
  padding-left: 26px;
  width: 268px;
}

.main_input::placeholder{
  font-size: 15px;
  line-height: 21px;
  color: rgba(0, 0, 0, 0.27);
}

.main_input:focus{
outline: none;
}

.header{
margin: 13px auto 15px;
}


.header_li{
  color: #1C1C1C;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  text-decoration: none;
 }

 .container_footer{
  margin: 0 auto;
  padding-top: 58px;
  padding-bottom: 58px;
}

.footer_li{
  color: white;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  text-decoration: none;
 
}
.main_button{
height: 45px;
width: 187px;
margin-left: 9px;
}

.button{
  background-color: #6F2CFF;
  color: white;
  border-radius: 20px;
  padding: 13px 34px;
  border: none;
  cursor: pointer;
  font-size: 14px;
  transition: 0.2s;
}

.button:hover {
  background-color: #5612e9;
}

.button:active {
  background-color: #6F2CFF;
  opacity: 0.7;
}